/* Universal Styles */

html body {
  background-color: hsla(152, 48%, 71%, 0.82);
  font-size: 16px;
}

@font-face {
  font-family: 'Comic Neue';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Comic Neue Italic'), local('ComicNeue-Italic'),
  url(https://fonts.gstatic.com/s/comicneue/v1/4UaFrEJDsxBrF37olUeD96_Z5btxAQFOPg.woff2)
  format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
  U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
  U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Comic Neue Regular'), local('ComicNeue-Regular'),
  url(https://fonts.gstatic.com/s/comicneue/v1/4UaHrEJDsxBrF37olUeD96rp57F2IwM.woff2)
  format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
  U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
  U+FEFF, U+FFFD;
}

/* Header */

header {
  height: 30px;
  font-family: cursive;
}

nav {
  margin: 0 32%;
}

span {
  display: block;
  text-align: center;
  padding-right: 5%;
  font-size: 1.2rem;
}

nav ul {
  display: flex;
}

ul li {
  list-style-type: none;
  padding: 0 2%;
}

ul a {
  color: black;
  display: inline-block;
}

/* Main */

main {
  margin-top: 6%;
}

main h1 {
  margin-left: 38%;
  margin-right: 38%;
  font-family: serif;
}

main ul {
  margin-right: 20%;
}

main ul li {
  align-items: center;
  align-content: center;
  text-align: center;
}
