body {
  background-color: hsla(186, 93%, 57%, 0.89);
}

/* Header */

header {
  height: 60px;
  font-family: cursive;
}

nav {
  margin: 0 32%;
}

nav span {
  display: block;
  text-align: center;
  padding-right: 5%;
  font-size: 1.2rem;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  list-style-type: none;
  padding: 0 2%;
}

nav ul a {
  color: black;
  display: inline-block;
}

main {

}

.other-list {

}

.other-list ul {

}

.other-list ul li {

}
